
#root {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: black; 
}

main {
  background: black;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}


body {
  background: black;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
  grid-gap: 10px; /* Espacio entre elementos */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
